h1 {
  text-decoration: underline;
font-family: "Brush Script MT", cursive;
font-size: 55px;
text-align: center;
}

#content {
  text-align: justify;
}
#column_one {
  font-size: 25px;
  background-color: #EA33FF;
  border-style: solid;
  float: left;
  width: 45%;
  padding: 5px;
}
#column_two {
  font-size: 25px;
  background-color: #EA33FF;
  border-style: solid;
  float: right;
  width: 45%;
  padding: 5px;
}
#column_three {
  font-size: 30px;
  background-color: blue;
  border-style: solid;
  float:none;
  margin-top: 70px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5%;
}

#column_four {
  font-size: 30px;
  background-color: #EA33FF;
  border-style: solid;
  float:none;
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5%;
}
#column_five {
  font-size: 30px;
  background-image: url("lotus.jpg");
  border-style: solid;
  float:none;
  margin-top: 12px;
  margin-left: 30%;
  margin-right: 30%;
  padding: 5%;
}
.my_class {
    clear:both;
}
.text_center {
  text-align: center;}

  .subheader {

  }
